<a href="https://colab.research.google.com/github/paloma-passy/my-profile/blob/main/Revision_alternant_DMDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Révision - Alternant DMDA

## Variables et Types de Données

- Variables: noms qui stockent des valeurs
- Types de base: int, float, str, bool
- Listes, tuples, dictionnaires

### Exercice 1

In [ ]:
#1. Créez une variable `age` de type entier et assignez-lui votre âge.

In [ ]:
# 2. Créez une variable `taille` de type float représentant votre taille en mètres.

In [ ]:
#3. Créez une variable `nom` de type string contenant votre prénom.

In [ ]:
# 4. Créez une liste `notes` contenant 3 notes (nombres) de votre choix.

In [ ]:
# 5. Créez un dictionnaire `etudiant` avec les clés 'nom', 'age', 'notes' en utilisant les variables précédentes.

In [ ]:
# 6. Affichez le contenu du dictionnaire `etudiant`.

## Exercice 1.1

Créez une chaîne de caractères contenant une phrase. Effectuez les opérations suivantes :

In [ ]:
phrase = "Le machine learning est passionnant et utile."

In [ ]:

#Affichez la longueur de la chaîne.

In [ ]:
#Convertissez la chaîne en majuscules.

In [ ]:
#Remplacez un mot de votre choix par un autre.

In [ ]:
#Divisez la phrase en une liste de mots.

# Exercice 1.2

In [ ]:
#Créez une liste de 5 fruits.

In [ ]:
#Ajoutez un fruit à la fin de la liste.

In [ ]:
#Insérez un fruit à la deuxième position.

In [ ]:
#Créez un dictionnaire associant chaque fruit à sa couleur.

In [ ]:
#Affichez la couleur d'un fruit spécifique.

## Les structutres de données

- Conditions: if, elif, else
- Boucles: for, while

## Exercice 2
Nous allons créer une fonction `classement` qui évalue une note. Suivez ces étapes :

In [ ]:
# 1. Définissez la fonction `classement` qui prend un paramètre `note`.

In [ ]:
# 2. Ajoutez les conditions pour chaque niveau de classement :
# si la note est supérieur à 18 retourner excellent, entre 18 et 16 => très bien et ainsi de suite

In [ ]:
# 3. Testez votre fonction avec différentes notes 19, 14, 10 :

# Les fonctions

- Définition d'une fonction
- Arguments et valeurs de retour
- Fonctions lambda

### Exercice 3

In [ ]:
# 1. Créez une fonction `moyenne` qui calcule la moyenne d'une liste de nombres :

In [ ]:
   # Test de la fonction

In [ ]:
# 2. Utilisez une fonction lambda pour trier une liste de tuples par note décroissante :
#compléter la proposition
etudiants_tries = sorted($$$$$$$$ , key=lambda x: x[1], reverse=$$$$$)
print($$$$$$)

# Exercice 3.2

Créez une fonction salutation qui prend en paramètre un nom et un message, avec un message par défaut.

# Manipulation de données

- Listes: méthodes append, extend, pop, index
- Dictionnaires: ajout/suppression de clés, méthode get
- Compréhensions de liste

## Exercice 4

In [ ]:
# 1. Créez une liste de 10 nombres aléatoires entre 1 et 100 :
import random

In [ ]:
#2. Utilisez une compréhension de liste pour créer une nouvelle liste avec les nombres pairs :

In [ ]:
# 3. Créez un dictionnaire où les clés sont les nombres de la liste originale et les valeurs sont leur carré :

## Exercice 4.2

Créez un dictionnaire représentant un petit catalogue de livres, où les clés sont les titres et les valeurs sont des dictionnaires contenant l'auteur et l'année de publication. Ensuite :

In [ ]:
catalogue = {
    "1984": {"auteur": "George Orwell", "annee": 1949},
    "Le Petit Prince": {"auteur": "Antoine de Saint-Exupéry", "annee": 1943},
    "Dune": {"auteur": "Frank Herbert", "annee": 1965}
}

In [ ]:
#Ajoutez un nouveau livre au catalogue.

In [ ]:
#Supprimez un livre du catalogue.

In [ ]:
#Affichez tous les livres publiés après une certaine année.

# Exercice 5

In [ ]:
import pandas as pd

data = {
    'marque': ['Toyota', 'Honda', 'Ford', 'Audi', 'BMW', 'Mercedes', 'Volkswagen', 'Tesla', 'Nissan', 'Hyundai'],
    'modele': ['Corolla', 'Civic', 'Focus', 'A4', '3 Series', 'C-Class', 'Golf', 'Model 3', 'Altima', 'Elantra'],
    'annee': [2019, 2020, 2018, 2021, 2022, 2020, 2019, 2022, 2021, 2020],
    'kilometrage': [35000, 28000, 42000, 15000, 8000, 30000, 38000, 12000, 22000, 33000],
    'prix': [22000, 24000, 18000, 35000, 42000, 38000, 25000, 48000, 23000, 21000],
    'consommation': [6.2, 5.8, 6.5, 7.1, 7.5, 7.3, 6.0, 0, 6.7, 5.9]  # L/100km, 0 pour Tesla (électrique)
}

In [ ]:
#Affichez les 5 premières lignes du DataFrame.

In [ ]:
#Affichez les informations générales sur le DataFrame (types de données, non-null count, etc.).

In [ ]:
#Calculez et affichez les statistiques descriptives du DataFrame.

In [ ]:
#Sélectionnez toutes les voitures dont le prix est supérieur à 30000.

In [ ]:
#Trouvez toutes les voitures de la marque "Toyota" ou "Honda".

In [ ]:
#Sélectionnez les colonnes 'marque', 'modele' et 'prix' pour les voitures fabriquées après 2020.

In [ ]:
# #Sélectionnez les colonnes 'marque', 'modele' et 'prix' pour les voitures fabriquées après 2020.

In [ ]:
# Ajoutez une nouvelle colonne 'origine' qui indique si la voiture est 'Européenne', 'Asiatique' ou 'Américaine'.

In [ ]:
# Modifiez la colonne 'prix' en appliquant une réduction de 10% à toutes les voitures.

In [ ]:
# Ajoutez une nouvelle ligne au DataFrame pour une nouvelle voiture de votre choix.

In [ ]:
#Calculez le prix moyen des voitures par marque.

In [ ]:
#Trouvez la voiture la plus récente (année la plus élevée) pour chaque marque.

In [ ]:
#Calculez le kilométrage total pour chaque année de fabrication.

In [ ]:
#Remplacez la valeur de consommation 0 de Tesla par NaN (Not a Number).

In [ ]:
#Calculez la consommation moyenne en excluant les valeurs NaN.

In [ ]:
#Remplacez les valeurs NaN par la moyenne des autres voitures.

In [ ]:
#Créez une nouvelle colonne 'efficacite' qui est le ratio entre le prix et la consommation (prix / consommation).

In [ ]:
#Utilisez la méthode cut() pour créer une nouvelle colonne 'categorie_prix' qui catégorise les voitures en 'Économique', 'Intermédiaire' et 'Premium' basé sur leur prix.

In [ ]:
#Pivotez le DataFrame pour obtenir la moyenne des prix par marque et année.

In [ ]:
#Créez un histogramme des prix des voitures.

In [ ]:
#Créez un graphique en barres montrant le kilométrage moyen par marque.

In [ ]:
#Créez un nuage de points (scatter plot) du prix en fonction du kilométrage.